body {
 font-family: 'Roboto Condensed', sans-serif;
	font-size: 16px;
	line-height: 24px;
	font-weight: 700;

	background-color: #fff;
}

a {
	text-decoration: none;
}

.main-navigation {
	font-size: 16px;
	line-height: 30px;

	background-color: #eeeeee;
}

.site-navigation,
.cart-navigation {
	list-style: none;
}

.site-navigation a,
.cart-navigation a {
	color: #000;
}

.site-navigation a:hover,
.site-navigation a:focus,
.cart-navigation a:hover,
.cart-navigation a:focus {
 color: #fb565a;
}























