body {
 font-family: "RobotoRegular", Arial, sans-serif;
	font-size: 16px;
	line-height: 24px;
	font-weight: 700;

	background-color: #fff;
}

a {
	text-decoration: none;
}

img {
	max-width: 100%;
	height: auto;
}

.visually-hidden:not(:focus):not(:active){
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;

	white-space: nowrap;
	
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.button {
	display: inline-block;
	padding: 18px 40px;

	font: inherit;
	text-align: center;
	color: #ffffff;
	vertical-align: middle;
	text-transform: uppercase;

	background: #fb565a;
	border: none;
}

.main-header {
	width: 100%;
	margin: 0 auto;
}

.main-navigation {
	display: flex;
	flex-direction: column;
	align-items: center;

	font-family: "RobotoMedium", Arial, sans-serif;
	font-size: 16px;
	line-height: 30px;

	background-color: #eeeeee;
}

.main-navigation-wrapper .container {
	display: flex;
	justify-content: space-between;
}

.container {
	width: 1160px;
	margin: 0 auto;
	padding: 0 10px;
}

.site-navigation,
.cart-navigation {
	margin: 0;
	padding: 0;
	list-style: none;
}

.site-navigation {
		display: flex;
		flex-wrap: wrap;
		width: 660px;
}

.cart-navigation {
	display: flex;
	max-width: 160px;
}

.cart-navigation .cart-link {
	position: relative;
	display: block;
	padding-left: 50px;
}

.cart-link::before {
	content: "";
	
	position: absolute;
	bottom: 23px;
	left: 0;
 /*Почему не прописывается картинка svg?*/
	background-image: url("../img/cart-icon.png");
	background-repeat: no-repeat;
	background-position: 0 0;

	width: 15px;
	height: 15px;
}

.site-navigation a,
.cart-navigation a {
	display: block;
	padding: 15px;
	color: #000;
}

.main-header-logo {
	width: 160px;
	height: 65px;
}

.site-navigation a:hover,
.cart-navigation a:hover,
.site-navigation a:focus,
.cart-navigation a:focus{
  color: #fb565a;
}

/*Слайдер отработать позже.Скорее всего и текст,и картинка будет в одном блоке.*/

/*как-то убрать верхний margin. И откуда он взялся?*/
.index-slider {
	display: flex;
	margin: 0 auto;
	margin-bottom: 80px; 

	background-color: #eeeeee;
}
/*Здесь задать может быть кнопке button или ссылку оставить?*/
.slider-info a {
	padding: 20px 55px;
	color: #ffffff;
}

.slider-info a:hover {
	background: #e74246;
}


.slider-info a:focus {
	background: #d7373b;
}

.slider-info h2 {
	font-family: "RobotoMedium", Arial, sans-serif;
	font-size: 55px;
	line-height: 55px;
}

.category-list  {
	display: flex;
	justify-content: space-between;

	list-style: none;

	padding: 0;
}

.category-list h3 {
	font-family: "RobotoBold", Arial, sans-serif;
	list-style: none; 
}

.category-item {
	width: 360px;
}

/*что это?откуда взялось?*/
.catalog-category h3{
	font-size: 24px;
	line-height: 30px;
}

.category-item span {
	margin-bottom: 66px;
}

.main-footer {
	padding: 70px 0;
}

.main-footer .container {
	display: flex;
	justify-content: flex-start;
}

.footer-social {
	width: 260px;
	padding: 0;
}

.footer-frends {
	width: 560px;
	margin-left: 140px;
}

.footer-social ul {
	padding-left: 0;
	list-style: none;	
}

.footer-frends h3 {
	font-family: "RobotoBold", Arial, sans-serif;
 font-size: 36px;
	line-height: 36px;
}



.modal {
  color: #000000;
}

.writeus-modal h2 {
	font-family: "RobotoMedium", Arial, sans-serif;

	font-size: 45px;
	line-height: 45px;
}

.writeus-modal input[type="text"]{
	font: inherit;
	border: 2px solid #d7dcde;
}

.writeus-modal input:hover {
	border: 2px solid #b4b9bb;
}

.writeus-modal input:focus {
	border: 2px solid #000000;
}

/*прописать стили для рамки невалидного ввода данных формы*/













